  body,p{
    margin: 0;
  }
  h1,h3,h4 {
    text-align: left;
    margin: 12px 0;
    padding: 0px 0px 0px 29px;
    font-family: "lucida Grande",Verdana,"Microsoft YaHei";
  }
  .container {
    min-height: 500px;
  }
  .header,
  .footer {
    min-width: 1070px;
    font-size: 14px;
  }
  .header {
    height: 62px;
    overflow: hidden;
    zoom: 1;
    border-bottom: 1px solid #d6dfea;
    background: #eff4fa;
  }
  .content {
    
  }
  .content_wrapper {
    width: 1016px;
    min-height: 388px;
    padding-top: 40px;
    margin: 0 auto;
  }
  .login_container {
    float: right;
    border: 1px solid #a0b1c4;
    width: 334px;
    height: 348px;
    _height: 371px;
    background-color: #fff;
    position: relative;
    z-index: 12;
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
  }
  .inputstyle {
    top: 0px;
    padding: 10px 40px 10px 10px;
    left: 0px;
    border-radius: 3px;
    width: 232px;
    line-height: 18px;
    border: 1px solid #a0b1c4;
    background: 0 0;
    color: #333;
    font-family: Verdana, Tahoma, Arial;
    font-size: 16px;
  }
  .buttons {
    /* margin-top: 26px; */
  }
  .button {
    width: 115px;
    height: 40px;
    line-height: 35px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
  }
  #login_button {
    background-color: #225592;
  }
  #reset_button {
    background-color: #225592;
    margin-left: 25px;
  }
  .footer {
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    clear: both;
    line-height: 36px;
    text-align: center;
    color: #868686;
    background-color: #eff4fa;
    border-top: 1px solid #d6dfea;
  }